:root {
  --primary: #2d6986;
  --secondary: #4096bf;
  --tertiary: #79b5d2;
  --light: #b3d5e5;
  --dark: #193c4d;
  --font: #ffffff;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  width: auto;
  margin: 0 auto;
  border-bottom: 1px solid var(--primary);
  background-color: var(--primary);
}
.navbar .items {
  margin-left: auto;
}
.navbar form {
  display: inline-block;
  width: 50%;
}
.navbar input {
  background-color: inherit;
  color: var(--font);
  font-size: 1.2em;
  padding: 10px;
  border-bottom: 1px solid var(--font);
  border-top: none;
  border-right: none;
  border-left: none;
  display: inline-block;
  width: 100%;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-size: 1.2em;
  padding: 6px;
  color: var(--font);
  display: inline-block;
}
.navbar p {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: var(--font);
  transition: all 0.2s ease-in-out;
}
.navbar a:hover {
  color: var(--font);
  border-bottom: 1px solid var(--font);
  padding-bottom: 5px;
}
.navbar img {
  width: 50px;
  height: 50px;
}
